.progress {
    position: relative;
    width: 210px;
    height: 30px;
    background-color: darkgray;
    border-radius: 5px;
    overflow: hidden;
}

.progress_fill {
    width: 50%;
    height: 100%;
    background: lightblue;
    transition: all 0.2s;
}

.progress_text {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font: bold 14px "Quicksand", sans-serif;
    color: white;
}