body {
    background: black;
    color: white;
}

h1 {
    text-align: center;
}

input {
    margin-bottom: 10px;
}

.task-checkbox {
    accent-color: black;
}

.done {
    text-decoration: line-through;
    opacity: 0.6;
}

#inputtask {
    display: block;
    margin: 10px auto;
    font-size: 20px;
    
}

#inputContainer {
    background-color:#696969;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px;
    border-radius: 20px;
    margin-top: 20px;
}

#additem-btn {
    background: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    font-weight: bold;
    display: block;
    margin: 0 auto;
}

#additem-btn:hover {
    background-color: whitesmoke;
    transform: scale(1.05);
    box-shadow: 0px 0px 5px whitesmoke;
}

.input-row {
    display: flex;
    align-items: center;
}

.whole {
    display: flex;
    background-color: aquamarine;
    margin: 20px;
    padding: 30px;
    flex-direction: column;
}


.smt1 {
    background-color: red;
    text-align: center;
    padding: 10px 0px;
}
.smt2 {
    background-color: lightblue;
    text-align: center;
    padding: 10px 0px;
}