<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> TO DO LIST </title>
        <link rel="stylesheet" href="../static/css/index.css">
    </head>
    <body>
        <h1> To Do List </h1>

        <div id="categorycontainer">

        </div>

        <input type="text" id="inputCategory">
        <button id="createcategory-btn"> CREATE CATEGORY </button>

        <input type="text" id="inputtask">
        <button id="additem-btn"> ADD ITEM </button>

        <script src="../static/js/index.js"></script>
    </body>
</html>