<!DOCTYPE html>
<html>
    <head>
        <title> Hello </title>
        <link rel="stylesheet" href="../static/css/index.css">
    </head>
    <body>
        <h1> To Do List </h1>
        
        <div id="inputContainer">
            
        </div>

        <input type="text" id="inputCategory">

        <div id="categorycontainer">

        </div>

        <button id="createcategory-btn"> CREATE CATEGORY </button>
        <input type="text" id="inputtask">
        <button id="additem-btn"> ADD ITEM </button>
        <script src="../static/js/index.js"></script>
    </body>
</html>